button {
    font-size: 12px;
    cursor: pointer;
    transition: 80ms;
    line-height: 20px;
    padding: 5px 16px;
    border-radius: 3px;
    white-space: nowrap;
    vertical-align: middle;
    color: var(--color-button-default-text);
    background-color: var(--color-button-bg);
    border: 1px solid var(--color-button-border);
}

.add-btn {
    margin-bottom: 8px;
    background-color: #f9f9f9;
}

.add-btn:hover {
    background-color: var(--color-button-bg);
}

.edit-btn {
    margin: 0 5px;
    background-color: #ffffff;
}

.edit-btn:hover {
    background-color: #3b71ca;
    color: var(--color-button-text);
    border: 1px solid var(--color-button-bg-hover);
}

.del-btn {
    background-color: #ffffff;
}

.del-btn:hover {
    background-color: #a40e26;
    color: var(--color-button-text);
    border: 1px solid var(--color-button-bg-hover);
}

.back-btn {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
}

.back-btn:hover {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
}

.submit-btn {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
}

.submit-btn:hover {
    border: 1px solid var(--black);
    background-color: var(--color-button-bg);
    color: var(--color-button-default-text);
}