:root {
    --white: #f9f9f9;
    --black: #36383f;
    --grey: #85888c;
    --color-header-bg: #24292f;
    --color-header-logo: #ffffff;
    --color-header-text: #ffffffb3;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

.App {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}