:root {
    /* Common variables */
    --white: #f9f9f9;
    --black: #36383f;
    --grey: #85888c;

    /* Header variables */
    --color-header-bg: #24292f;
    --color-header-logo: #ffffff;
    --color-header-text: #ffffffb3;

    /* Table variables */
    --color-table-bg: #f6f8fa;
    --color-table-text: #656d76;
    --color-table-border: #d0d7de;
    --color-table-caption-th: #1f2328;

    /* Input variables*/
    --color-input-field-text: #656d76;
    --color-input-field-border: #d0d7de;

    /* Button variables */
    --color-button-bg: #f6f8fa;
    --color-button-text: #ffffff;
    --color-button-border: #d0d7de;
    --color-button-bg-hover: #f9f9f9;
    --color-button-default-text: #24292f;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

.App {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center h2 {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-input-field-border);
}

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

/* Responsiveness */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}