.input-container {
    margin-bottom: 1rem;
}

.input-label {
    float: left;
    display: block;
    font-weight: normal;
    margin-bottom: 0rem;
}

.input-error-text {
    float: left;
    color: red;
    font-size: 12px;
}