.item-details-container {
    border: 1px solid #ccc;
    padding: 1rem;
}

.item-details-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.item-property-label {
    font-weight: bold;
}

.item-property-value {
    margin-bottom: 0.5rem;
}