.search-box {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 30px;
}

.input-field {
    width: 100%;
    max-width: 500px;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    padding: 10px 11px 11px 11px;
    background-color: var(--white);
    color: var(--color-input-field-text);
    border: 1px solid var(--color-input-field-border);
}